{# On étend le template de base base.html.twig #}
{% extends 'base.html.twig' %}

{# Début du bloc title, qui sera inséré dans la section titre du template de base #}
{% block title %}
    Connexion!
{% endblock %}

{# Début du bloc body, qui sera inséré dans la section corps du template de base #}
{% block body %}
    {# rajout A VERIFIER #}
    {% for flash_sucess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    {# Formulaire de connexion utilisant la méthode POST #}
    <form method="post">
        {# Si une erreur est présente, afficher un message d'alerte #}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {# Si l'utilisateur est déjà connecté, afficher un message de bienvenue et un lien de déconnexion #}
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        {# Titre du formulaire de connexion #}
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
        
        {# Champ de saisie pour l'adresse e-mail #}
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        
        {# Champ de saisie pour le mot de passe #}
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        {# Champ caché pour le token CSRF (Cross-Site Request Forgery) #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {# Option pour se souvenir de l'utilisateur #}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        {# Bouton de soumission du formulaire #}
        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
    </form>
{% endblock %}
