{# On étend le template de base base.html.twig #}
{% extends 'base.html.twig' %}

{# Début du bloc title, qui sera inséré dans la section titre du template de base #}
{% block title %}
    Liste des produits
{% endblock %}

{# Début du bloc body, qui sera inséré dans la section corps du template de base #}
{% block body %}
    {# Titre de la page de la liste des produits #}
    <h1>Liste des produits</h1>

    {# Tableau pour afficher les produits sous forme de tableau #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# Boucle sur tous les produits #}
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.image }}</td>
                <td>
                    {# Lien pour afficher les détails d'un produit #}
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">voir</a>
                    
                    {# Lien pour éditer un produit #}
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            {# Si aucun produit n'est trouvé, afficher un message #}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Lien pour créer un nouveau produit #}
    <a href="{{ path('app_product_new') }}">Créer un nouveau</a>
{% endblock %}
