{# Étend le template de base #}
{% extends 'base.html.twig' %}

{# Définit le bloc de titre de la page avec le contenu 'Home' #}
{% block title %}Home{% endblock %}

{# Définit le bloc pour l'image d'en-tête avec une image spécifique #}
{% block img %}
  <img id="header-image" src="{{ asset('images/businessman.jpg') }}" alt="image affaire"/>
{% endblock %}

{# Définit le bloc de corps de la page #}
{% block body %}

  {# Boucle sur les messages flash de type 'cancel' et les affiche dans une alerte de succès #}
  {% for message in app.flashes('cancel') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {# Conteneur centré pour le contenu principal #}
  <div class="container text-center">
    {# Première section avec deux colonnes #}
    <section class="row">
      <div class="col">
        {# Titre principal #}
        <h1 style="border-radius: 20px; padding: 20px; background-color: rgba(255, 255, 255, 0.1); font-family: 'Dancing Script', cursive; font-family: 'Lilita One', sans-serif; color: #0766AD">Bonjour !</h1>
        <br/>
        {# Paragraphe de bienvenue avec présentation de la formation #}
        <p>
          Vous recherchez un télétravail ? 
          Vous désirez être indépendant et travailler d'où vous voulez et quand vous voulez ?
          Alors vous êtes au bon endroit. {{ company }} a l'immense plaisir de vous présenter la "{{ formation.name }}" 
          qui vous permettra de devenir développeur de sites web et d'applications mobiles. 
          La seule chose dont vous aurez besoin est d'un ordinateur et d'une connexion à internet. 
        </p>
      </div>
      <div class="col">
        {# Image de la formation avec un bouton pour acheter #}
        <div class="text-center">
          <img class="home_img" src="{{ asset('uploads/products/formation-65577fc99571c164680740.png') }}" alt="image avec les symboles des langages du web" style="border-radius: 50%"/>
          <br><br>
          <a class="btn btn-success" href="{{ path('app_shop') }}" role="button">Achetez la "{{ formation.name }}"</a>
        </div>
      </div>
    </section>
    <br><br><br><br>
    {# Deuxième section avec deux colonnes #}
    <section class="row">
      <div class="col">
        {# Image du soutien avec un bouton pour acheter #}
        <div class="text-center">
          <img class="home_img" src="{{ asset('uploads/products/soutient-65577ffa2312e451068176.jpg') }}" alt="image représentant un cours en live et en ligne" style="border-radius: 50%;"/>
          <br><br>
          <a class="btn btn-success" href="{{ path('app_shop') }}" role="button">Achetez "{{ soutient.name }}"</a>
        </div>
        <br><br><br>
      </div>
      <div class="col">
        {# Description du métier de développeur #}
        <h2>En quoi consiste le métier de développeur ?</h2>
        <br/>
        <p>
          Cela consiste à créer des sites web et des applications mobiles pour vous-même ou pour des clients. 
          Pour cela, le développeur doit maîtriser les différents langages de code ainsi que les différents outils informatiques nécessaires à la réalisation d'un site web.
          Le développeur doit aussi connaître la réglementation concernant les données personnelles des utilisateurs ainsi que les lois concernant la réalisation de site web. 
        </p>
        <br/>
        <p>
          Pour vous accompagner au mieux durant votre formation, {{ company }} vous propose des cours en live et en ligne afin de répondre à toutes vos questions et vous aider à mieux appréhender les principes de base de la programmation.
        </p>
      </div>
    </section>
    <br><br><br><br>
    {# Section finale avec un lien vers la page de contact #}
    <div class="text-center">
      <p>
        Pour plus de renseignements, rendez-vous sur la page "<a href="{{ path('app_contact') }}">Contact</a>"
      </p>
    </div>
  </div>
{% endblock %}
